*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#f8fafc ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin:1rem 2rem;
    padding:0 2rem;
    display:flex;
    align-items: center;
    
}
.header-text{
    flex: 1 1 0%;
    color:black;
    font-weight: 500;
}

nav{
    
    
}

nav ul {
    display:flex;
    gap:12px;
    align-items: center;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#64748b;
    font-weight: 500;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    color:black;
    font-weight: 600;

}

.project-icon-badge{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius:4px;
    border-color: #64748b;
    background-color: white;
}

.project-icon{
    
    color:#64748b;
}

.project-icon:hover{
    color:black;
    font-weight: 600;
}

h1{
    
    color:black;
    font-weight: 800;
    font-size:x-large;
}

.thoughts-container{
    margin:2rem auto;
    max-width:1200px;
}

.thoughts-grid{
    display:grid;
    grid-auto-rows: minmax(250px, auto);
    margin:2rem 0;
    

    
}

.line-one{
    grid-template-columns: 1fr 2fr;
    gap:15px;
 
}

.line-two{
    grid-template-columns: 2fr 1fr;
    gap:15px;
}

.line-three{
    grid-column: span 2;
}

.thought-card{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding:1rem;
   
}

.home-new-thought{
    width:100%;
    min-height: 250px;
    margin: 2rem  0;
    border-style: dashed;
    border-width: 1px;
    border-radius:8px;
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    justify-content: center;

}

